version: '3.8'

# Custom top-level network
networks:
  neo4j-internal:
    ipam:
      driver: default
      config:
        - subnet: 178.201.0.0/24

services:

  jupyter:
    image: jupyter/datascience-notebook
    network_mode: "host"
    ports:
      - 8888:8888
    volumes:
      - ./:/home/jovyan/work
    environment:
      - JUPYTER_ENABLE_LAB=yes
    command: start-notebook.sh --NotebookApp.token=''
    

  core1:
    image: neo4j:4.4-enterprise
    hostname: core1
    networks:
      neo4j-internal:
        ipv4_address: 178.201.0.2 
        aliases:
          - neo4j-network
    ports:
      - "7474:7474"
      - "7687:7687"

    volumes:
      - ./data/core1:/var/lib/neo4j/data
      - ./logs/core1:/var/lib/neo4j/logs
      # - ./conf/core1:/var/lib/neo4j/conf
      - ./import:/var/lib/neo4j/import

    environment:
      - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes
      - NEO4J_AUTH=neo4j/password
      - EXTENDED_CONF=yes
      - NEO4J_EDITION=docker_compose
      - NEO4J_dbms_mode=CORE
      - NEO4J_causal__clustering_discovery__type=DNS
      - NEO4J_causal__clustering_initial__discovery__members=neo4j-network:5000
      - NEO4J_causal__clustering_discovery__advertised__address=178.201.0.2
      - NEO4J_causal__clustering_raft__advertised__address=core1
      - NEO4J_causal__clustering_transaction__advertised__address=core1
      - NEO4J_dbms_connector_bolt_advertised__address=178.201.0.2:7474
      - NEO4J_dbms_connector_http_advertised__address=178.201.0.2:7687
      - NEO4J_dbms_memory_heap_initial__size=1GB
      - NEO4J_dbms_memory_heap_max__size=2GB

  core2:
    image: neo4j:4.4-enterprise
    hostname: core2
    networks:
      neo4j-internal:
        ipv4_address: 178.201.0.3
        aliases:
          - neo4j-network
    ports:
      - "7475:7474"
      - "7688:7687"
    volumes:
      - ./data/core2:/var/lib/neo4j/data
      - ./logs/core2:/var/lib/neo4j/logs
      # - ./conf/core2:/var/lib/neo4j/conf
      - ./import:/var/lib/neo4j/import

    environment:
      - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes
      - NEO4J_AUTH=neo4j/password
      - EXTENDED_CONF=yes
      - NEO4J_EDITION=docker_compose
      - NEO4J_dbms_mode=CORE
      - NEO4J_causal__clustering_discovery__type=DNS
      - NEO4J_causal__clustering_initial__discovery__members=neo4j-network:5000
      - NEO4J_causal__clustering_discovery__advertised__address=178.201.0.3
      - NEO4J_causal__clustering_raft__advertised__address=core2
      - NEO4J_causal__clustering_transaction__advertised__address=core2
      - NEO4J_dbms_connector_bolt_advertised__address=178.201.0.3:7475
      - NEO4J_dbms_connector_http_advertised__address=178.201.0.3:7688
      - NEO4J_dbms_memory_heap_initial__size=1GB
      - NEO4J_dbms_memory_heap_max__size=2GB

  core3:
    image: neo4j:4.4-enterprise
    hostname: core3
    networks:
      neo4j-internal:
        ipv4_address: 178.201.0.4
        aliases:
          - neo4j-network
    ports:
      - "7476:7474"
      - "7689:7687"
    volumes:
      - ./data/core3:/var/lib/neo4j/data
      - ./logs/core3:/var/lib/neo4j/logs
      # - ./conf/core3:/var/lib/neo4j/conf
      - ./import:/var/lib/neo4j/import

    environment:
      - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes
      - NEO4J_AUTH=neo4j/password
      - EXTENDED_CONF=yes
      - NEO4J_EDITION=docker_compose
      - NEO4J_dbms_mode=CORE
      - NEO4J_causal__clustering_discovery__type=DNS
      - NEO4J_causal__clustering_initial__discovery__members=neo4j-network:5000
      - NEO4J_causal__clustering_discovery__advertised__address=178.201.0.4
      - NEO4J_causal__clustering_raft__advertised__address=core3
      - NEO4J_causal__clustering_transaction__advertised__address=core3
      - NEO4J_dbms_connector_bolt_advertised__address=178.201.0.4:7476
      - NEO4J_dbms_connector_http_advertised__address=178.201.0.4:7689
      - NEO4J_dbms_memory_heap_initial__size=1GB
      - NEO4J_dbms_memory_heap_max__size=2GB


  # core4:
  #   image: neo4j:4.4-enterprise
  #   hostname: core4
  #   networks:
  #     neo4j-internal:
  #       ipv4_address: 178.201.0.5
  #       aliases:
  #         - neo4j-network
  #   ports:
  #     - "7477:7474"
  #     - "7690:7687"
  #   volumes:
  #     - ./data/core4:/var/lib/neo4j/data
  #     - ./logs/core4:/var/lib/neo4j/logs
  #     # - ./conf/core3:/var/lib/neo4j/conf
  #     # - ./import:/var/lib/neo4j/import

  #   environment:
  #     - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes
  #     - NEO4J_AUTH=neo4j/password
  #     - EXTENDED_CONF=yes
  #     - NEO4J_EDITION=docker_compose
  #     - NEO4J_dbms_mode=READ_REPLICA
  #     - NEO4J_causal__clustering_discovery__type=DNS
  #     - NEO4J_causal__clustering_initial__discovery__members=neo4j-network:5000
  #     - NEO4J_causal__clustering_discovery__advertised__address=178.201.0.5
  #     - NEO4J_dbms_connector_bolt_advertised__address=core4
  #     - NEO4J_dbms_connector_http_advertised__address=core4

  # readreplica1:
  #   image: neo4j:4.4-enterprise
  #   hostname: replica1
  #   networks:
  #     neo4j-internal:
  #       aliases:
  #         - neo4j-network
  #   ports:
  #     - "7477:7474"
  #     - "7690:7687"
  #   volumes:
  #     - ./data/replica1:/var/lib/neo4j/data
  #     - ./logs/replica1:/var/lib/neo4j/logs
  #     - ./conf/replica1:/var/lib/neo4j/conf
  #     - ./import/replica1:/var/lib/neo4j/import

  #   environment:
  #     - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes
  #     - NEO4J_AUTH=neo4j/password
  #     - EXTENDED_CONF=yes
  #     - NEO4J_EDITION=docker_compose
  #     - NEO4J_dbms_mode=READ_REPLICA
  #     - NEO4J_dbms_cluster_discovery_endpoints=core1:5000,core2:5000,core3:5000