version: '3.1'
services:
  graph_db: 
    container_name: graph_db
    image: docker_neo4j
    build:
      dockerfile: ./Dockerfile
    ports:
      - 7474:7474
      - 7687:7687
    volumes:
      - ./neo4j:/data
    environment:
      - NEO4J_AUTH=neo4j/password
  jupyter:
    image: jupyter/datascience-notebook
    ports:
      - 8888:8888
    volumes:
      - ./:/home/jovyan/work
    environment:
      - JUPYTER_ENABLE_LAB=yes
    command: start-notebook.sh --NotebookApp.token=''